
<h1><%= favorite.title %></h1><p>tags - </p><p><% favorite.tags.forEach(function(tag){ %>
                                                 <%= tag.name %>, 
                                               <% }); %></p>

<form method="POST">
  <div class="form-group">
    <input type="text" name="author" class="form-control" placeholder="Your name">
  </div>
  <div class="form-group">
    <textarea name="content" class="form-control" placeholder="Rant here"></textarea>
  </div>
  <input type="submit" class="btn btn-primary">
</form>

<% favorite.comments.forEach(function(comment) { %>
<div class="well">
  <p><%= comment.title %></p>
  <p>- <%= comment.body %></p>
</div>
<% }); %>
