


<form id="search" class="shortenfield blue lighten-5" action="/show" class="navbar-form navbar-center position" role="search">
  	<div class="form-group">
    	<input name="search" type="search" class="form-control" placeholder="e.g. Spaceballs">
  	</div>
  	<button type="submit" class="btn btn-default red lighten-1">Search</button>
</form>
 